@use "../variables.module.scss" as *;

.topBar {
    background-color: #000;
}

.topBarToolbar {
    :global {
        .MuiToolbar-root {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.topBarContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftActions {
    display: flex;
    align-items: center;
}

.sportamtLogo {
    height: 40px;
    width: auto;
    display: block;
    margin-right: 16px;
    shape-rendering: geometricPrecision;
    filter: invert(1);
}

.navButtonActive {
    :global {
        .MuiButton-root {
            border-radius: 0;
            padding-bottom: 4px;
            border-bottom: 2px solid $sportamtGreen;
        }
    }
}

.navButton {
    :global {
        .MuiButton-root {
            color: inherit;
            text-transform: uppercase;
            min-width: auto;
            border-radius: 0;
            border-bottom: 2px solid transparent;
            padding-bottom: 4px;

            &:hover {
                background-color: transparent;
                border-bottom: 2px solid #9e9e9e;
            }
        }
    }
}

.centerLinks {
    display: none;
    align-items: center;
    gap: 50px;
}

.mobileNavActions {
    display: flex;
    margin-left: 8px;
}

.desktopNavActions {
    display: none;
    gap: 50px;
}

@media (min-width: 900px) {
    .topBarContent {
        position: relative;
    }

    .centerLinks {
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .mobileNavActions {
        display: none;
    }

    .desktopNavActions {
        display: flex;
    }
}
