@use "./variables.module.scss" as *;

.pageContainer {
  height: calc(100vh - 64px);
  box-sizing: border-box;
  padding-top: 32px;
  padding-bottom: 32px;
}

.pagePaper {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 24px;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 600px) {
  .pageContainer {
    height: calc(100vh - 56px);
  }
}
