$sportamtGreen: #d7e054;
$iconColor: #666;
$statusPillOrange: #f6be72;
$inputBackgroundColor: #f3f3f3;

$errorRed: #de350b;
$warningYellow: rgb(255, 152, 0);
$successGreen: #a0d468;
$infoBlue: rgb(33, 150, 243);
